body {
    font-family: 'Arial'
  }
  
  .form-control {
    margin: 1.5rem 0;
  }
  
  .form-input {
    transition: opacity 0.25s ease-out 0.2s;
  }
  
  .hide {
    opacity: 0;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }

  .toast {
    position: absolute;
    opacity: 0.0;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
  }

  .show {
    opacity: 1.0;
    top: 30px;
  }

  .toast-text {
    margin: 0;
    padding: 0.5rem 0;
  }

  .toast-error {
    background-color: #a43737;
  }