body {
    font-family: 'Arial'
  }
  
  .form-control {
    margin: 1.5rem 0;
  }
  
  .form-input {
    transition: opacity 0.25s ease-out 0.2s;
  }
  
  .hide {
    opacity: 0;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }